*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: 16px;
}

#result{
    font-size: 2.5rem;
    margin: 1em 0;
}

body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

button,.end{
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    font-size: 3.5em;
    border-radius:0.5em;
    cursor: pointer;
    border: none;
}

.stopbox{
    margin: 2em 1em;
    /* justify-content: center; */
    /* align-content: center; */
    text-align: center;
}